/* index.css */
@font-face {
    font-family: 'fontGame';
    src: url('../font/Pony.ttf'); /* Đảm bảo đường dẫn file font đúng */
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: 'fontGame', sans-serif;
    /* Bạn có thể để ảnh nền ở đây nếu muốn phủ toàn trang */
    background-image: url('../img/bgmovie.jpg'); 
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}